language: nodejs
before_script:
- npm install
- npm run build:current
script:
- npm test
after_success:
- npm run typedoc
deploy:
- provider: pages
  skip_cleanup: true
  local_dir: docs/
  github_token: "$GITHUB_TOKEN"
  on:
    tags: true
- provider: releases
  api_key: "$GITHUB_TOKEN"
  file_glob: true
  file: crown-lab-backend-*.tgz
  skip_cleanup: true
  on:
    tags: true
env:
  global:
    secure: g5jGrabrnw5ueqHaxLcvtaGWX4nq6MHesGv+oCPU0JFrmWGimMrPJ5CJXP5kUg+YTPOnZV2DcSpG3Thbbq0wroZTjs40QN08nOP0Uc2HkeHEZc0hSaNnpoK6/M/o3AndyokQtB31tQRXNL0GLY54JbmjuvygwkBxw9zPkRcZGrkG4izDrtdH1J597jO4bh6c7l8bwW9kK7iZfECM+tHLI6V7B+rhsCSL7nkxLRT60S5mHQP4e3RUpjU8UdSrphWPFZ98xvfbqWiLFwM6VHYOzBdHBK52SpakTwAyFmSBeSByQfAuVXRrtgw62uyy4Andlw4+K6fkynSoZzAWeHmWTbdKSRV/pDJ1RVSvYs3YROVj+t2POOhHCp+82peJPsln9jaWMcyRfubcKPmiuWJnl3ZFaZ5+4VNGlEbMfJk+ntU64a9ozDyCbeNB10nlxDA4RbVwYAy1+FpOI18UKiE/Z6zIzNoU2a7k9MAgzDcjOD+qopNHAPuybhYJ/Emm2257WMueDnnds0mkfAV9F3CufPLXEykHApaQgNwGukPlfG1XvB0wuxyC4BlIZA8UKX7wc8nukccDGRYc4hwM6VZ8fr/JvccHM/Dti6coq4YoriaAaI2FfcRZxSPcHFrN5GkTtfWf636AZgAE7bOpu979y8SwCOdZMvTIUoispqjc3ug=
before_install:
- openssl aes-256-cbc -K $encrypted_935d6f5c4880_key -iv $encrypted_935d6f5c4880_iv
  -in mongo.datasource.json.enc -out src/datasources/mongo.datasource.json -d
